# EditorConfig is awesome: https://EditorConfig.org

# Top-level EditorConfig
root=true

# Global defaults for all files
[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
trim_trailing_whitespace=true
indent_style=space
indent_size=2

# Astro
[*.astro]
indent_style=tab
indent_size=4

# Markdown fix
[*.md]
trim_trailing_whitespace=false

# Toml
[*.toml]
max_line_length=100

[Makefile]
indent_style=tab
indent_size=4
